body{
    
    background-image: url("left-background.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    margin: 0;
    padding: 0;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color: rgb(6, 154, 190);
    padding: 0.5% 15%;
    opacity: 0.95;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

section{
    padding: 5% 5%
    align = "center"
}

footer{
    padding: 10% 10%;
    align-content: center;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
li{
    display: inline-block;
    margin: 20px;
}
li a{
    text-decoration: none;
    text-emphasis: none;
    color: #000;
    
}
li:hover{
    background-color: rgb(94, 113, 121);
    border-radius: 10px;
}
.logo{
    width: 50px;
    height: auto;
}

ul li a{
    display: block;
}
ul li ul li {
    display: none;
}

ul li :hover ul li{
    display: block;
}

h1{
    text-align: center;
}


  .photosCol {
    float: left;
    width: 20%;
    padding: 5px;
  }
  .photosRow::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 500px) {
    .photosCol {
      width: 100%;
      position: relative;
    }
  }

  .desc{
      padding: 15px;
      text-align: center;
  }
*{
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
  }